/* Variables */
:root {
  --search-box-height: 50px;
  --body-background-color: #272838;
  --off-background-color: #ffffff;
  --font: "arima-koshi", sans-serif;
}

/* Fonts */
@font-face {
  font-family: "arima-koshi";
  src: url(../fonts/arima-koshi/ArimaKoshi-Medium.otf);
}

/* Body*/
body {
  display: flex;
  flex-direction: column;
  background-color: var(--body-background-color) !important;
  padding-bottom: 30px;
  font-family: var(--font);
}

/* Header*/
header {
  display: flex;
  margin: 30px 30px 60px 30px;
  font-family: var(--font);
}

/* The space to the left of the search area. Used as a buffer */
#header-margin-left {
  flex: 1;
}

/* The space to the right of the search area. Contains the sort box */
#header-margin-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* Search container*/
#search-container {
  display: flex;
  flex: 2;
  height: 100px;
  min-height: 3rem;
  width: 100%;
  border: 2px solid var(--off-background-color);
  border-radius: 10px;
  color: var(--off-background-color);
  height: var(--search-box-height);
}

/* Search box */
#search-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  font-size: 1.4rem;
  min-width: 300px;
  padding-left: 60px;
}

/* Go button */
#search-go-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  border-left: 2px solid var(--off-background-color);
}

/* Go button image */
#search-go-img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* comment TODO */
.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: space-around;
  font-family: var(--font);
}

/* Song card */
.grid-item {
  display: flex;
  flex-direction: column;
  height: 520px;
  background-color: var(--off-background-color);
  border-radius: 30px;
  padding: 10px 10px;
}

/* Song art wrap */
.img-wrap {
  flex: 2;
}

/* Song art */
.img-wrap img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

/* Song information wrap */
.info-wrap {
  flex: 1;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

/* Sort button */
.dropdown button {
  background-color: var(--off-background-color);
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-right: 40px;
}

/* Sort options */
.dropdown-toggle:active,
.open .dropdown-toggle {
  background: var(--off-background-color) !important;
  color: var(--body-background-color) !important;
}
